<script>
    let a = 123.9;
    document.write(Math.round(a) + "<br/>");
    document.write(Math.ceil(a) + "<br/>");
    document.write(Math.floor(a) + "<br/>");
    document.write(Math.random() * 785487 + "<br/>");
    function randomNumber(min, max){
        return Math.round(Math.random() * (max - min) + min);
    }
    document.write(randomNumber(10,20));

</script>